.result-container {
  border-left: 1px solid #eee;
  padding-left: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.tag {
  background-color: #dedede;
  border-radius: 4px;
  margin: 3px 0px;
  padding: 3px 5px;
  display: inline-block;
}

.sub-object-container {
  margin-left: 10px;
  margin-bottom: 10px;
  border-left: 1px solid #eee;
  padding-left: 5px;
}

.sub-object-container:last-child {
  margin-bottom: 0px;
}

.p-value {
  word-break: break-word;
}

.external-icon {
  font-size: 9px;
}

pre {
  margin: 3px 0px;
  padding: 5px;
  background-color: #dedede;
  white-space: pre-wrap;
}

.retry-btn {
  height: 25px;
  padding: 5px;
  width: 125px;
  font-weight: 500;
}

.alert {
  margin-bottom: 0;
}

.expandable-title {
  display: block;
  color: #5ccd18 !important;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 4px;
  .text {
    color: #5ccd18 !important;
    border-bottom: 1px solid #5ccd18;
    .desc {
      color: black !important;
      font-weight: 400 !important;
    }
  }
}

.p-value {
  word-wrap: break-word;
  word-break: break-word;
}

.p-link {
  margin-bottom: 4px;
}

.p-title {
  font-size: 13px;
  font-weight: 500;
  svg {
    font-size: 12px;
  }
}

.source,
.associated-hash,
.attributed-association,
.associated-actors,
.vendor_fix_reference {
  margin-bottom: 5px;
}

.search-result > .p-title {
  margin-top: 10px;
}

.attack-pattern-box {
  border: 1px solid gray;
  border-radius: 4px;
  margin-bottom: 3px;
  padding: 1px 5px;
}

.threat-actor-attack-patterns, .search-threat-actor-attack-patterns {
  .threat-actor-attack-patterns-content, .search-threat-actor-attack-patterns-content {
    margin-left: 5px;

    .attack-pattern-group {
      margin: 0;
      margin-bottom: 2px;
      line-height: 15px;
      background-color: #dedede;

      .expandable-title {
        line-height: 15px;
        color: #161625 !important;

        .text {
          color: #161625 !important;
          border-bottom: none;
          font-size: 14px;
          font-style: italic;
        }
      }
      .attack-pattern-group-content {
        .attack-pattern {
          background-color: white;

          .expandable-title {
            .text {
              font-size: 13px;
              font-style: normal;
            }
          }

          .attack-pattern-content {
            pre {
              margin: 2px 0px;
              padding: 4px;
              background-color: #dedede;
              border-radius: 2px;
              white-space: pre-wrap;
              word-break: break-word;
              background-color: #e6e6e6;
            }

            .sub-techniques {
              .expandable-title {
                .text {
                  font-size: 12px;
                  font-style: italic;
                }
              }

              .sub-technique {
                background-color: #e6e6e6;
                padding-bottom: 3px;

                .sub-technique-content {
                  pre {
                    background-color: white;
                    color: black;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
